.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center
}
.App.Mess{
  background: #eee;
  min-height: 50vh;
  justify-content: start;
}
.info{
margin: 1rem auto;
display: flex;
justify-content: space-between;
}
.turn{
width: 150px;
color: #999;
}
.turn.myTurn{
color: #222;
font-size: 1.5rem;
}
.outline{
border:solid 2px #222;
 }
.column{
display:flex;
}
.cell-wrap{
position: relative;
}
.cell{
display:black;
box-sizing: border-box;
background: green;
border:solid 2px #222;
}
.stone{
position: absolute;
 top:2px;
left:2px;
border-radius: 50%;
}
.white{
background: white;
}
.black{
background: black;
}
button {
padding: 0;
cursor: pointer;
background-color: transparent;
border: none;
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
}
button:disabled::after {
position: absolute;
content: "";
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background: black;
opacity: .2;
z-index:-1;
}
.isShow{
  z-index:10;
}
.button{
display: inline-block;
outline: 0;
text-align: center;
border: 1px solid #babfc3;
background:#fff;
padding: 7px 16px;
min-height: 36px;
min-width: 36px;
color: #222;
border-radius: 4px;
font-size: 0.8rem;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
.button:hover{
background: #f6f6f7;
outline: 1px solid transparent;
}
.finish{
text-align:center;
font-size:1.25rem;
}
.finish span{
font-size:1.25em;
}
.button-wrap{
 margin:1rem 0;
}
.button-wrap.-show{
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.message{
  width: 90%;
  margin: 0 auto;
  padding: 0.5 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
.message > li{
    text-align:left;
    font-size: 1.1rem;
}
.mess-wrap{
   margin: 1rem 0;
}
.center{
  text-align:center;
  font-size: 1.1rem;
 }
input{
    height: 32px;
    font-size: 16px;
    border: 1px solid #babfc3;
    border-radius: 4px;
}
.fixed{
    position:fixed;
    bottom: 5px;
}
